* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root{
  --font-family-poppins: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}


/* .hover-3d:hover {
  transform: rotateY(10deg) rotateX(10deg);
} */

.header-animation {
  animation: headerSticky 0.7s ease-in-out forwards;
}
@keyframes headerSticky {
  0% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.text-gradient {
  background: linear-gradient(
    95deg,
    #059dfe 15%,
    #6549d5 45%,
    #e33fa1 75%,
    #fb5343 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-logo-gradient {
  background: linear-gradient(
    95deg,
    #fb5343 15%,
    #6549d5 45%,
    #e33fa1 75%,
    #059dfe 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color 5s infinite;
}
@keyframes color {
  0%{ filter: hue-rotate(0deg);}
  100%{ filter: hue-rotate(360deg);}
}

.my-container {
  max-width: 1120px;
  margin: 0 auto;
}

.animate-html {
  animation: progress-html 5s linear forwards;
}
@keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
.animate-css {
  animation: progress-css 6s linear forwards;
}
@keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
.animate-bootstrap {
  animation: progress-bootstrap 6s linear forwards;
}
@keyframes progress-bootstrap {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
.animate-js {
  animation: progress-js 4s linear forwards;
}
@keyframes progress-js {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
.animate-react {
  animation: progress-react 3s linear forwards;
}
@keyframes progress-react {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

.font_pop{
  font-family: var(--font-family-poppins);
}
body{
  position: relative;
}
.cursor {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%,-50%);
  z-index: 999;
  background: rgba(38, 151, 232, 0.5);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 20px #2696E8,
              0 0 60px #2696E8,
              0 0 100px #2696E8;
  display: none;
  animation: colors 5s infinite;
}
@keyframes colors {
  0%{ filter: hue-rotate(0deg);}
  100%{ filter: hue-rotate(360deg);}
}
.cursor::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background: #2696E8;
  opacity: 0.3;
  border-radius: 50%;
}

#mobile-menu a{
  box-shadow: 0 1px 0 0 #c2c2c2;
}
#mobile-menu a:last-child{
  box-shadow: none;
}
