@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


:root {
  --background: #ffffff;
  --foreground: #171717;
}



html {
  scroll-behavior: smooth;
}

@keyframes slowZoom {
  0% { transform: scale(1); }
  50% { transform: scale(1.1);}
  70% { transform: scale(1.2);}
  100% { transform: scale(1.3); }
}
.animate-slow-zoom {
  animation: slowZoom 25s ease-in-out infinite alternate;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-move {
  background: linear-gradient(135deg, #6b21a83e, #0909097e, #22d3ee3e);
  background-size: 200% 200%;
  animation: gradientMove 15s ease infinite;
}


@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 15s linear infinite;
}


@keyframes vertical-marquee {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.animate-vertical-marquee {
  animation: vertical-marquee 20s linear infinite;
}


@keyframes figma-animate {
  0% {
      transform: translateY(0) rotate(0);
  }
  100% {
      transform: translateY(10px) rotate(10deg);
  }
}

.animate-figma {
  animation: figma-animate 2s linear infinite alternate-reverse;
}

.header-animation {
  animation: headerSticky 0.7s ease-in-out forwards;
}
@keyframes headerSticky {
  0% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

